/* CSS Document */
/* Custom fonts */
@font-face {
    font-family: Roboto-Bold;
    src: url("Roboto-Bold.ttf");
}
@font-face {
    font-family: BigShouldersDisplay-SemiBold;
    src: url("BigShouldersDisplay-SemiBold.ttf");
}
@font-face {
    font-family: Lato-Medium;
    src: url("Lato-Medium.ttf");
}
body {
    clear: both;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden !important;
    overflow: -moz-scrollbars-none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
body.after {
    clear: both;
}
/* Frame Rate Display */
#frameRate {
	left: 20;
	top: 20;
	padding: 0.6vh 0.7vh;
	border: 0.5vh outset rgba(168,6,212,0.67);
	box-shadow: 4px -2px 6 6 rgba(230,117,216,0.87);
	box-shadow: 2px -4px 6 6 rgba(153,236,227,0.93);
	background-color: rgba(5,42,13,0.90);
	color: rgba(46,245,118,1.00);
	font-family: Roboto-Bold;
	font-size: 2vh;
	size: 1vh;
	pointer-events: none;
}
/* Play/End Scene Keypads */
.keypad-container {
    position: relative;
    display: inline-block;
}
.keypad-center-letter {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Roboto-Bold;
    color: #FFFFFF;
}
.keypad-center-letter-inactive {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Roboto-Bold;
    color: #999999;
}
.keypad-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.keypad-image-inactive {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(70%);
}
/* Play Scene filled letter spaces */
.word-spaces-container {
    position: relative;
    display: inline-block;
}
.word-spaces-center-letter {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    display: none;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    font-family: Roboto-Bold;
    color: #F41C63;
}
.word-spaces-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* Play Scene timer */
.timer-box {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 82pt;
    font-family: BigShouldersDisplay-Semibold;
    color: #002839;
	pointer-events: none;
}
/* Play Scene score */
.score-box {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 82pt;
    font-family: BigShouldersDisplay-Semibold;
    color: #002839;
	pointer-events: none;
}
/* Play Scene animated score alert */
.score-alert-box {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 82pt;
    font-family: BigShouldersDisplay-Semibold;
    color: #002839;
}
/* Leaderboard Scene score */
.leader-score-box {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 130pt;
    font-family: BigShouldersDisplay-Semibold;
    color: #ffffff;
}
/* Text Effects */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.pulse {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out 1 alternate;
    -moz-animation: glow 1s ease-in-out 1 alternate;
    animation: glow 1s ease-in-out 1 alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
/* Leaderboard table */
#top10table {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    font-family: Lato-Medium;
    text-align: center;
    top: 0px;
    left: 38%;
    z-index: 4;
    pointer-events: none;
}

#top10table .leader-title {
    position: relative;
    width: 90%;
    height: 29%;
    left: 5%;
}
#top10table .leader-container {
    position: relative;
    width: calc(90% + 2vw);
    height: 70%;
    left: calc(5% - 1vw);
}
.table-block table {
    position: relative;
    border-collapse: separate;
    border-spacing: 1vw;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
table th {
    background-color: #1f262f;
    font-size: 54pt;
}
table th.after {
    background-color: #fff;
}
table td {
    background-color: #1c9cd8;
    font-size: 36pt;
}
table td.after {
    background-color: #fff;
}
table td:nth-child(1) {
    width: 10%;
}
table td:nth-child(2) {
    width: 40%;
}
table td:nth-child(3) {
    width: 50%;
}

/* End Scene initials */
.Initials {
    position: absolute;
    margin: 0px;
    text-align: left;
    font-size: 82pt;
    font-family: Roboto-Bold;
    color: #e84e3d;
	pointer-events: none;
}
/* Timeout Overlay */
#timeoutOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    cursor: pointer;
    text-align: center;
    -moz-text-shadow: 2px 4px 0px rgba(90, 90, 90, 0.9);
    -webkit-text-shadow: 2px 4px 0px rgba(90, 90, 90, 0.9);
    text-shadow: 2px 4px 0px rgba(90, 90, 90, 0.9);
}
#timeoutHeader {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 5vw;
    font-family: Roboto-Bold;
    color: #fff;
    -ms-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
}
#timeoutInstructions {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    font-family: Roboto-Bold;
    color: #fff;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#timeoutTimer {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 4vw;
    font-family: Roboto-Bold;
    color: #fff;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
}
#fadeOutOverlay {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../images/jewelBackground.png");
    -webkit-filter: blur(8px) grayscale() opacity(1.0);
    filter: blur(8px) grayscale() opacity(1.0);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9000;
}
#fadeOutLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30vw;
    height: 30vw;
    margin: -19vw 0 0 -19vw;
    border: 4vw solid #f3f3f3;
    border-radius: 50%;
    border-top: 4vw solid #f41c63;
    border-bottom: 4vw solid #2581af;
    z-index: 9001;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Tutorial Overlay 
#tutorialOverlay {
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow: hidden;
    transition: 0.5s;
}
#tutorialContent {
    position: absolute;
    width: 90%;
    height: 80%;
    transform: translate(5%, 5%);
    -ms-transform: translate(5%, 5%);
}
#tutorialOverlay a {
    padding: 8px;
    text-decoration: none;
    font-family: Roboto-Bold;
    color: #C8C8C8;
    display: block;
    transition: 0.3s;
}
#tutorialOverlay a:hover, #tutorialOverlay a:focus, #tutorialOverlay a.active {
    color: #f41c63;
}
#tutorialOverlay .image-container {
    position: relative;
    height: 100px;
    width: 100%;
}
#tutorialOverlay .image-container:active {
    display: block;
}
#tutorialOverlay .image-container:not(active) {
    display: none;
}
#tutorialOverlay .score-highlight {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    transition: 1.0s;
} 
#tutorialOverlay .score-text{
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 15%;
    font-family: Roboto-Bold;
}
#tutorialOverlay .strSponsor-highlight {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    transition: 1.0s;
}
#tutorialOverlay .strSponsor-text {
    position:absolute;
    color: white;
    font-weight: bold;
    bottom: 20%;
    right: 15%;
    font-family: Roboto-Bold;
}
#tutorialOverlay .gemSwap-highlight {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    transition: 1.0s;
}  
#tutorialOverlay .gemSwap-text {
    position: absolute;
    color: white;
    font-weight: bold;
    top: 20%;
    right: 40%;
    font-family: Roboto-Bold;
}
#tutorialOverlay .tutorialCloseButton {
    position: absolute;
    color: white;
    top: 40px;
    right: 45px;
    z-index: 1001;
}
#tutorialPages {
    position: absolute;
    display: inline-block;
    font-size: 4vw;
    margin: 0px;
    padding: 0px;
    bottom: 2.5%;
    width: 50%;
    text-align: center;
    transform: translate(50%, 0);
    font-family: Roboto-Bold;
}
#tutorialPages a {
    display: inline-block;
    position: relative;
    background-color: rgb(104, 47, 122);
    background-color: rgba(104, 47, 122, 0.67);
    margin: 0px;
    padding: 10px 0px;
    width: 12.5%;
}
/* Tutorial Snackbar */
#playSnackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position:fixed;
    z-index: 1;
    left: 50%;
    top: 40px;
    font-size: 24px;
    font-family: BigShouldersDisplay-SemiBold;
}
#playSnackbar .show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        top: 40px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        top: 40px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

.playGrid {
    margin: 0;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0px;
    line-height: 0px;
	pointer-events: none;
}

.gem-container {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	background-color: rgba(232,247,248,0.0);
	border: 1px solid rgba(111, 192, 203, 0.0);
	pointer-events: none;
}

.gems {
	clear: both;
	position: absolute;
	display: block;
	margin: 0px;
	padding: 0px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	pointer-events: none;
    z-index: 20;
    pointer-events: none;
}

.playSpawn {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
	pointer-events: none;
}

.spawn-container {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	background-color: rgba(32, 215, 32, 0.144);
	border: 1px solid rgba(0, 0, 0, 1.0);
	color: white;
	pointer-events: none;
}